.body {
  background: lightblue;
  color: #333;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.h1 {
  text-align: center;
}

.h2 {
  text-align: center; 
}

.block {
  display: flex;
  gap: 20px;
  margin: 0 0 40px 0;

  &__img {
    width: 100px;
    height: fit-content;
    object-fit: cover;
  }

  &__link {
    color: teal;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
  
  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
  }
}

.paragraph {
  margin: 0;
  font-size: 18px;
  text-align: justify;

  &__bold {
    font-size: 24px;
    color: blue;
  }

  &__separator {
    margin: 0 0 30px 0;
    display: block;
  }
}

